* {
   margin: 0;
   padding: 0;
}
body {
   padding: 32px;
   display: flex;
   display: grid;
   grid-template-columns: 40% auto;
   gap: 32px;
   font-family: "Manrope", sans-serif;

   .left-box {
      img {
         width: 100%;
      }

      ul {
         list-style-type: none;
         margin-top: 32px;
         font-size: 18px;
         display: flex;
         flex-direction: column;
         gap: 12px;
         padding: 0 8px;

         li {
            display: flex;
            justify-content: space-between;
            color: #787878;
         }

         li:nth-child(1) {
            color: black;
         }
      }
   }

   .right-box {
      border: 1px solid;
   }
}
